body {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
:root {
  --green: #67bd45;
  --white: #fff;
  --blue: #023e73;
  --bodytext: Segoe UI;
  --headlines: Heading Pro Trial;
}

.site-nav {
  display: none;
}

.burger-menu-button {
  border: none;
  background: none;
  margin-top: 30px;
}

@media only screen and (max-width: 600px) {
  body {
    overflow: hidden;
  }

  .site-nav {
    height: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    z-index: 2;
  }

  .site-menu {
    display: none;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 200px;
    background: #ffffff;
    /* transform: translateX(100%);*/
    transition: 0.3s transform ease-in-out;
    z-index: 2;
  }

  .site-menu ul {
    padding: 0px;
    list-style-type: none;
    margin: 0px 0px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: #fff;
  }

  .site-menu li {
    margin-top: 20px;
    flex-basis: 100%;
    display: flex;
    height: 30px;
    font-family: var(--headlines);
  }

  .site-menu a {
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #023e73;
    padding: 25px;
  }

  .site-menu a:hover {
    background: #023e73a9;
    color: #fff;
  }

  .menu {
    font-size: larger;
    font-weight: bold;
    color: #67bd45;
    margin-left: 21px;
  }

  hr {
    border: 1px solid var(--blue);
  }
  /*  .burger-menu-button:focus ~ .site-menu,
  .site-menu:hover {
    transform: translateX(0%);
  }*/
}
