* {
  margin: 0;
  padding: 0;
}

:root {
  /* Colors: */
  --black: #00000000;
  --text: #021c70;
  --green: #67bd45;
  --white: #ffffff;
  --blue: #023e73;
  --bodytext: Segoe UI;
  --headlines: Heading Pro Trial;
}

#BGImages {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/050/177/original/backgroundSM.png?1666786680);
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  background-size: cover;
}

.logo {
  width: 5%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: 1%;
  padding: 15px;
}

/*Jarl's code*/
.sideMenu {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

.laundry {
  padding: 20px;
  padding-top: 25px;
}

.vacuum {
  padding: 20px;
}

.utilities {
  padding: 20px;
}

.calander {
  padding: 20px;
}

.staff {
  padding: 20px;
}

.map {
  padding: 20px;
}

.language {
  padding: 20px;
  top: 74px;
  position: relative;
  float: bottom;
}

.arrow {
  position: relative;
  top: 55px;
  left: 27px;
}

#box {
  background-color: white;
  position: relative;
  display: block;
  left: 7%;
  width: 702px;
  height: 300px;
  padding: 20px;
  border-radius: 20px;
}
h1 {
  color: white;
  font-family: var(--bodytext);
  font-size: 50px;
  position: relative;
  top: -668px;
  left: 28%;
  display: block;
  justify-content: center;
}

.bodytext {
  width: 80%;
  display: inline-block;
  vertical-align: middle;
  margin: 20%;
  font-size: 20px;
  font-family: var(--bodytext);
  line-height: 1.5;
  right: 325px;
}

h4 {
  font-size: 39px;
  padding: -20px;
  position: absolute;
  right: 325px;
  top: 33px;
  color: #4e5e81;

  font: normal normal 600 39px/52px Segoe UI;
  letter-spacing: 0px;
  opacity: 1;
}
.janitor {
  font-size: 39px;
  position: absolute;
  right: 360px;
  color: #4e5e81;

  font: normal normal 600 39px/52px Segoe UI;
  letter-spacing: 0px;
  opacity: 1;
}

.image {
  display: block;
  position: relative;
  right: -20px;
  box-shadow: 5px 5px 20px #4e5e8162;
  border-radius: 20px;
}

.name {
  font-family: var(--bodytext);
  position: absolute;
  right: 300px;
  top: 100px;
  font-size: 24px;
  line-height: 1.5;
  color: var(--text);
}

.name-j {
  font-family: var(--bodytext);
  position: absolute;
  right: 316px;
  top: 100px;
  font-size: 24px;
  line-height: 1.5;
  color: var(--text);
}

.info {
  color: green;
  font-family: var(--bodytext);
  position: absolute;
  right: 150px;
  top: 150px;
  font-size: 24px;
  line-height: 2;
}

.phone {
  position: relative;
  right: 10px;
  top: 5px;
}

.mail {
  position: relative;
  right: 10px;
  top: 5px;
  padding-right: 10px;
}
/* Scroll behaviour */
@media (min-height: 30em) {
  main {
    scroll-snap-type: y mandatory;
    height: 70vh;
    overflow-y: scroll;
  }
}

.section {
  color: black;
  position: relative;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  min-height: 50vh;
}
@media (min-height: 30em) {
  .section {
    height: 10vh;
  }
}
/*Heading Pro Trial Wide Bold 50*/

/*Phone Settings*/

@media only screen and (max-width: 600px) {
  #BGImages {
    height: 768px;
    background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/052/071/original/backgroundphone.png?1667824256);
    background-repeat: no-repeat;
    min-height: 100vh;
  }

  .logo {
    width: 10%;
  }
  #box {
    position: relative;
    display: block;
    left: 11%;
    width: 300px;
    height: 555px;
    border-radius: 20px;
    top: 8%;
  }
  h1 {
    color: white;
    font-family: var(--bodytext);
    font-size: 40px;
    position: relative;
    top: -810px;
    left: 19%;
    display: inline-block;
  }

  .bodytext {
    width: 80%;
    display: inline-block;
    vertical-align: middle;
    margin: 20%;
    font-size: 15px;
    line-height: 1.5;
    left: 325px;
  }

  h4 {
    font-size: 39px;
    padding: -20px;
    position: absolute;
    right: 80px;

    font-weight: bolder;
    font: normal normal 600 39px/52px Segoe UI;
    letter-spacing: 0px;
    opacity: 1;
  }
  .janitor {
    font-size: 39px;
    padding: -20px;
    position: absolute;
    right: 100px;
    color: #4e5e81;
    font-weight: bolder;
    font: normal normal 600 39px/52px Segoe UI;
    letter-spacing: 0px;
    opacity: 1;
  }

  .image {
    top: 50px;
    right: -65px;
  }

  .name {
    right: 70px;
    top: 350px;
    font-size: 24px;
  }

  .name-j {
    font-family: var(--bodytext);
    position: absolute;
    right: 85px;
    top: 350px;
    font-size: 24px;
    line-height: 1.5;
    color: var(--text);
  }

  .info {
    color: green;
    font-family: var(--bodytext);
    position: absolute;
    right: -20px;
    top: 400px;
    font-size: 20px;
    line-height: 2;
  }

  .phone {
    position: relative;
    right: 10px;
    top: 5px;
  }

  .mail {
    position: relative;
    right: 55px;
    top: 5px;
    padding-right: 10px;
  }

  a {
    position: relative;
    right: 60px;
    color: #40b916;
  }

  .mario {
    right: 50px;
  }

  .mail-m {
    position: relative;
    right: 45px;
    top: 5px;
    padding-right: 10px;
  }

  .arrow {
    position: relative;
    top: 37px;
    left: 16px;
  }
  main {
    scroll-snap-type: y mandatory;
    height: 80vh;
    overflow-y: scroll;
  }

  .section {
    color: black;
    position: relative;
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
  }
  .section {
    height: 10vh;
  }
  .sideMenu {
    display: none;
  }
}

/*Maja's sidenav*/

.site-nav {
  display: none;
}

.burger-menu-button {
  border: none;
  background: none;
  margin-top: 30px;
}

@media only screen and (max-width: 600px) {
  body {
    overflow: hidden;
  }

  .site-nav {
    height: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    z-index: 2;
  }

  .site-menu {
    display: none;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 200px;
    background: #ffffff;
    /* transform: translateX(100%);*/
    transition: 0.3s transform ease-in-out;
    z-index: 2;
  }

  .site-menu ul {
    padding: 0px;
    list-style-type: none;
    margin: 0px 0px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: #fff;
  }

  .site-menu li {
    margin-top: 20px;
    flex-basis: 100%;
    display: flex;
    height: 30px;
    font-family: var(--headlines);
  }

  .site-menu a {
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #023e73;
    padding: 25px;
  }

  .site-menu a:hover {
    background: #023e73a9;
    color: #fff;
  }

  .menu {
    font-size: larger;
    font-weight: bold;
    color: #67bd45;
    margin-left: 21px;
  }

  hr {
    border: 1px solid var(--blue);
  }
}

/*Help needed with
Staff members text on the phone

side menu on the phone version*/
