body {
  padding: 0px;
  margin: 0px;
}
:root {
  --green: #67bd45;
  --white: #fff;
  --blue: #023e73;
  --bodytext: Segoe UI;
  --headlines: Segoe UI;
}

.site-nav {
  display: none;
}

.burger-menu-button {
  border: none;
  background: none;
  margin-top: 30px;
}

.sideMenu {
  display: block;
  position: absolute;
  top: 16px;
  right: 20px;
}

li {
  list-style: none;
  padding-bottom: 38px;
}

.miniLogo {
  position: fixed;
  top: 20px;
  left: 17px;
}
.background {
  min-height: 100vh;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/050/177/original/backgroundSM.png?1666786680);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}

aside {
  padding: 1%;
}
.flex {
  position: fixed;
  display: flex;
  color: var(--blue);
  font-family: Heading Pro Trial;
  text-transform: uppercase;
  align-items: flex-end;
  right: 7px;
  bottom: 15px;
}
.flex_t {
  position: fixed;
  display: flex;
  color: var(--blue);
  font-family: Heading Pro Trial;
  text-transform: uppercase;
  align-items: flex-end;
  right: 7px;
  bottom: 15px;
}

#en {
  color: var(--green);
  font-weight: bold;
  position: relative;
}

.arrowButton {
  border: none;
  background: none;
  position: relative;
  left: 12px;
  top: 182px;
}

.title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: fixed;
  font-size: 23px;
  top: 6%;
  left: 30%;
  color: #fff;
}
/*Scroll*/

.caretakerImg,
.janitorImg,
.plumberImg {
  position: relative;
  top: 10px;
  left: 10px;
  border-radius: 20px;
  float: left;
}

.caretaker,
.janitor,
.plumber {
  background-color: white;
  position: relative;
  display: block;
  width: 702px;
  height: 300px;
  padding: 20px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  top: 0px;
  left: -41px;
  margin-bottom: 20px;
}

.job_c {
  font-size: 39px;
  right: 253px;
  top: -44px;
  color: var(--green);
  float: right;
  position: relative;
  font-family: var(--headlines);
}

.job_j {
  font-size: 39px;
  right: 294px;
  top: -44px;
  color: var(--green);
  float: right;
  position: relative;
  font-family: var(--headlines);
}

.job_p {
  font-size: 39px;
  right: 276px;
  top: -33px;
  color: var(--green);
  float: right;
  position: relative;
  font-family: var(--headlines);
}

.bodyText {
  font-size: 23px;
  font-family: var(--bodytext);
  line-height: 1.5;
  color: var(--blue);
  float: right;
  position: relative;
  top: 58px;
  left: 49px;
}

.bodyText_j {
  font-size: 23px;
  font-family: var(--bodytext);
  line-height: 1.5;
  color: var(--blue);
  float: right;
  position: relative;
  top: 58px;
  left: 9px;
}
.phone {
  color: var(--green);
}

a {
  text-decoration: underline;
  color: var(--green);
}

@media (min-height: 30em) {
  .scroll {
    scroll-snap-type: y mandatory;
    height: 76vh;
    overflow-y: scroll;
    top: 184px;
    position: relative;
  }
}

@media only screen and (max-width: 600px) {
  body {
    overflow: hidden;
  }

  .site-nav {
    height: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    z-index: 2;
  }

  .site-menu {
    display: none;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 200px;
    background: #ffffff;
    /* transform: translateX(100%);*/
    transition: 0.3s transform ease-in-out;
    z-index: 2;
  }

  .site-menu ul {
    padding: 0px;
    list-style-type: none;
    margin: 0px 0px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: #fff;
  }

  .site-menu li {
    margin-top: 33px;
    flex-basis: 100%;
    display: flex;
    height: 30px;
    font-family: var(--headlines);
  }

  .site-menu a {
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #023e73;
    padding: 25px;
    left: 0px;
    font-size: 20px;
  }

  .site-menu a:hover {
    background: #023e73a9;
    color: #fff;
  }

  .menu {
    font-size: 25px;
    font-size: larger;
    font-weight: bold;
    color: #67bd45;
    margin-left: 21px;
    padding-bottom: 13px;
  }

  hr {
    border: 1px solid var(--blue);
  }
  /*  .burger-menu-button:focus ~ .site-menu,
  .site-menu:hover {
    transform: translateX(0%);
  }*/
}

@media only screen and (max-width: 600px) {
  .background {
    background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/052/071/original/backgroundphone.png?1667824256);
    min-height: 100vh;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
  }

  .sideMenu {
    display: none;
  }

  .miniLogo {
    width: 10%;
  }

  .title {
    top: 7%;
    left: 74px;
    text-align: center;
    font-size: 20px;
  }
  .caretaker,
  .janitor,
  .plumber {
    width: 300px;
    height: 555px;
    left: -2px;
  }
  .caretakerImg,
  .janitorImg,
  .plumberImg {
    top: 70px;
    left: 58px;
  }

  .job_c {
    font-size: 33px;
    right: 80px;
    top: -311px;
  }

  .job_j {
    font-size: 33px;
    right: 102px;
    top: -47px;
  }

  .job_p {
    font-size: 31px;
    right: 83px;
    top: -305px;
  }

  .bodyText {
    font-size: 18px;
    top: -31px;
    left: -28px;
    text-align: center;
  }
  .bodyText_j {
    font-size: 18px;
    text-align: center;
    top: 91px;
    left: -29px;
  }
  .scroll {
    height: 78vh;
  }
  .flex_t {
    display: none;
  }

  .staff-color {
    background-color: #67bd4570;
  }
}
